[Desktop Entry]
Type=Application
Name=Omacalendar
GenericName=Spaced Repetition Calendar
Comment=Dead-simple spaced-repetition review calendar
Exec=omacalendar %f
Icon=omacalendar
Terminal=false
Categories=Office;Calendar;Education;Utility;
Keywords=calendar;spaced;repetition;learning;review;agenda;
StartupWMClass=omacalendar
